<script language='JavaScript'>
<!--//

function  click_use_pxpost_check(view)\{

        disable_field(document.getElementById('item').num_of_tries,            !view.checked);
        disable_field(document.getElementById('item').check_status_period_min, !view.checked);

\}

//-->
</script>

<table cellspacing="0" cellpadding="5" border="0" width="550" class="formborder">

<tr>
	<td align="left" width="165"><span class='FieldBody'>{"<txt_server_url>"}&nbsp;<span class=ast>*</span><br><img src="/images/1.gif" width=165 height=1></span></td>
	<td align="left" width="345"><input type="text"  id="server_url" name="server_url" class="SWi300" size="27" maxlength="255" value="{$server_url}"></td>
</tr>

<tr>
	<td align="left" width="165"><span class='FieldBody'>{"<txt_username>"}&nbsp;<span class=ast>*</span><br><img src="/images/1.gif" width=165 height=1></span></td>
	<td align="left" width="345"><input type="text"  id="user_name" name="user_name" class="SWi300" size="27" maxlength="255" value="{$user_name}"></td>
</tr>

<tr>
	<td align="left" width="165"><span class='FieldBody'>{"<txt_password>"}&nbsp;<span class=ast>*</span><br><img src="/images/1.gif" width=165 height=1></span></td>
	<td align="left" width="345"><input type="password"  id="passwd" name="passwd" class="SWi300" size="27" maxlength="255" value="{$passwd}"></td>
</tr>

<tr>

<tr>
	<td align="left" width="155"><span class='FieldBody'>{"<txt_enable_avs>"}<br><img src="/images/1.gif" width=155 height=1></span></td>
	<td  align="left"><input type="checkbox" name="is_avs_enabled" id="" {($is_avs_enabled) ? 'checked' : ''} value="1"> </td> 
</tr>
<tr>
        <td align="left" width="155"><span class='FieldBody'>{"<txt_pxpost_avs_mode>"}<br><img src="/images/1.gif" width=155 height=1></span></td>
	<td  align="left"><input type="checkbox" name="avs_mode" id="" {($avs_mode) ? 'checked' : ''} value="1"> </td> 
</tr>
<tr>
        <td  align="left" colspan="2">
        <span class="FieldTitle"><txt_pxpost_trans_check></span></td><td>&nbsp;&nbsp;</td>
</tr>

<tr>
 <td align="left" width="165">
  <span class='FieldBody'><txt_pxpost_trans_check_enabled>
 </td>
 <td align="left" width="345">
  <input type="checkbox" id="trans_check_enabled" name="trans_check_enabled" value="1" onLoad="javascript:click_use_pxpost_check(this)" onChange="javascript:click_use_pxpost_check(this)"  onClick="click_use_pxpost_check(this);" {$OUT .= $trans_check_enabled ? "CHECKED" : ""}>
 </td>
</tr>

<tr>
 <td align="left" width="165">
  <span class='FieldBody'><txt_pxpost_num_of_tries><span class=ast>*</span>
 </td>
 <td align="left" width="345">
  <input type="text"  id="num_of_tries" name="num_of_tries" class="SWi300" value="{$num_of_tries}" {if (!$trans_check_enabled){$OUT .= ' style = "background-color: '. $custom{LightLines} . '" disabled ';}}>
 </td>
</tr>

<tr>
 <td align="left" width="165">
  <span class='FieldBody'><txt_pxpost_check_status_period_min><span class=ast>*</span>
 </td>
 <td align="left" width="345">
  <input type="text" id="check_status_period_min" name="check_status_period_min" class="SWi300" value="{$check_status_period_min}" {if (!$trans_check_enabled){$OUT .= ' style = "background-color: '. $custom{LightLines} . '" disabled ';}}>
 </td>
</tr>

</table>
